a{
  background-color: aquamarine;
  color: red;
}
a :hover{
    background-color: rgb(11, 13, 149);
}
h2{
    font-size: 3rem;
    background-color: azure;
}
div{
    width: 400px;
    height: 600px;
    background-image: url(https://images.unsplash.com/photo-1678043638081-9529506e12cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60);
}
img{
    width: 80px;
    height: 80px;
}

img:hover{
    width: 120px;
    height: 120px;
}